body, div, td, p {
	font-family: 'Verdana', 'Lucida Grande', Tahoma, Arial, Sans-serif;
	font-size: 11px;
}

.green { color: #71a13a; }

.sidebar .slogan { text-transform: uppercase; font-size: 9px; }
#sidebar-products { color: white; }
#sidebar-products-title, #sidebar-products, .sidebar-products-item { font-size: 14px; letter-spacing: -0.1em; }
.sidebar-products-item { font-size: 12px; }
.sidebar-links .sidebar-links-title { text-transform: uppercase; font-size: 14px; }
.sidebar-links-item { color: #71a13a; font-weight: bold; font-size: 11px; letter-spacing: -1px;}

.typography, .typography p, .typography td {
	font-family: Verdana, 'Lucida Grande', Tahoma;
	color: #36302c;
	font-size: 12px;
}

.typography p.bold { font-weight: bold; }

.typography h2 { font-family: Verdana, 'Lucida Grande', Tahoma; color: #71a13a; font-size: 18px; font-weight: normal; }
.typography a { color: #568c45; text-decoration: none; }

body.mceContentBody p, .content p, .content li {
	font-family: Verdana, 'Lucida Grande', Tahoma, Arial, Sans-serif;
	font-size: 12px;
	color: #36302c;
	padding: 5px 0;
}

body.mceContentBody p.topic-title, body.mceContentBody span.topic-title, 
body p.topic-title, body span.topic-title {
	font-size: 13px;
	font-weight: bold;
}

body.mceContentBody .typography a, body .typography a { color: #568c45; text-decoration: none; }

body.mceContentBody p.content-header, body p.content-header { 
	padding-top: 10px;
	color: #71a13a; 
	font-size: 18px; margin-bottom: 20px; 
}
.content li {
	list-style-type: square;
	margin-left: 20px;
}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-justify { text-align: justify;}
.align-middle { text-align: middle; }
.align-center { text-align: center; }
.align-top { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.color-blue { color: #639bc4; }